<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="KNDBsysurl" value="http://192.168.61.65:1222/"/>
    <add key="BaseInfo" value="BaseInfo"/>
    <add key="UserInfo" value="BaseInfo"/>
    <add key="Work" value="Work"/>
    <add key="WorkBLL" value="WorkBLL"/>
    <add key="FileLoad" value="FileLoad"/>
  </appSettings>

  <system.web>
    <httpRuntime executionTimeout="90" maxRequestLength="40960" useFullyQualifiedRedirectUrl="false"
minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"/>
  </system.web>
  
</configuration>
